<% content_for :title do %>24 Pull Requests Dashboard<% end %>
<div id="snow"></div>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="24 Pull Requests" data-text="Giving back little gifts of code for Christmas" data-moreinfo="Contribute: https://github.com/24pullrequests/dashboard"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Countdown" data-title="Christmas" data-end="25-Dec-2015 00:00:00"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="top_pr_count" data-view="List" data-unordered="true" data-title="Top Contributors" data-moreinfo="# of pull requests sent"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="todays_prs" data-view="Number" data-title="Todays PRs"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="top_pr_org_count" data-view="List" data-unordered="true" data-title="Top Organisations"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="total_prs" data-view="Number" data-title="Total PRs"></div>
    </li>
  </ul>
</div>
